{% extends 'admin/admin_base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Detalle de la Solicitud de Contacto</h1>
    <table class="table table-bordered">
        <tr>
            <th>Nombre</th>
            <td>{{ solicitud.nombre }}</td>
        </tr>
        <tr>
            <th>Apellido</th>
            <td>{{ solicitud.apellido }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ solicitud.email }}</td>
        </tr>
        <tr>
            <th>Celular</th>
            <td>{{ solicitud.celular }}</td>
        </tr>
        <tr>
            <th>Comentario</th>
            <td>{{ solicitud.comentario }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ solicitud.fecha }}</td>
        </tr>
    </table>
    <a href="{% url 'admin' %}" class="btn btn-primary">Volver</a>
</div>
{% endblock %}
