{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL PEUCO</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% static 'js/validaciones.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <a class="navbar-brand" href="{% url 'index' %}">El peuco</a>
        <img src="{% static 'img/logo.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-secondary mr-2" href="{% url 'index' %}">INICIO <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary mr-2" href="{% url 'contacto' %}">Contactanos</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary mr-2" href="{% url 'registro' %}">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary mr-2" href="{% url 'login' %}">Logearse</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary mr-2" href="{% url 'carrito' %}">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary mr-2" href="{% url 'platos_especiales' %}">Platillos disponibles</a>
                </li>
                
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
                <a class="btn btn-danger ml-2" href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                <a class="btn btn-secondary ml-2" href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
        </div>
    </nav>
    
</body>

    {% block content %}
    
 
  
    {% endblock %}

    

    <footer class="footercustom">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" width="100">
                    <p class="mt-2">La mejor cadena de restaurantes de comida mexicana del pais , visita nuestros locales y disfruta de la experiencia.</p>
                </div>
                <div class="col-md-4">
                    <h5 class="mt-4">Contacto</h5>
                    <p>Correo: ayudameporfavor@gmail.com</p>
                    <p>Teléfono: +987654321</p>
                    <p>Dirección: calle falsa 123 </p>
                </div>
                <div class="col-md-4 text-center">
                    <h5 class="mt-4">Síguenos</h5>
                    <a href="https://instagram.com" class="text-dark mx-2">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="https://facebook.com" class="text-dark mx-2">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a href="https://twitter.com" class="text-dark mx-2">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

</html>
