{% extends 'base.html' %}

{% block content %}
<body class="fondoprincipal">
    <div class="compras">
        <div class="container mt-5">
            <h1>Boleta de Compra</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Platillo</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in carrito_items %}
                    <tr>
                        <td><img src="{{ item.platillo.imagen.url }}" class="img-thumbnail" style="width: 100px;" alt="{{ item.platillo.nombre }}"></td>
                        <td>{{ item.platillo.nombre }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>${{ item.platillo.precio }}</td>
                        <td>${{ item.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3>Total: ${{ total }}</h3>
            <a href="{% url 'carrito' %}" class="btn btn-secondary">Volver al Carrito</a>
        </div>
    </div>
</body>
{% endblock %}
